<?xml version="1.0" encoding="UTF-8" ?>
<module>
        <name>paytpv</name>
        <displayName><![CDATA[Paycomet]]></displayName>
        <version><![CDATA[7.7.9]]></version>
        <description><![CDATA[This module allows you to accept card payments via www.paycomet.com]]></description>
        <author><![CDATA[Paycomet]]></author>
        <tab><![CDATA[payments_gateways]]></tab>
        <is_configurable>1</is_configurable>
        <need_instance>1</need_instance>
        <limited_countries></limited_countries>
</module>