@media only screen and (max-width: 63em){
    #payment-option-3-additional-information{
        margin-left: 0.2em!important;
    }
    .paytpv{
        width:99%;
    }
    #card{
        width:95%;
    }
}
#submit_jet{
    display:none;
}

.paytpv_jet h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin: 0px;
}

 .paytpv_jet ol, .paytpv_jet ul {
    list-style: none;
}

 .paytpv_jet .vertical{
    overflow: hidden;
}

.paytpv_jet .vertical li {
    float: left;
    width: 140px;
}

.paytpv_jet .vertical input {
    width: 79px;
}

.paytpv_jet label {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    display: table-cell;
}

.paytpv_jet .carbon-img img, form input, form label, form li .help {
    display: block;
}

.paytpv_jet .paytpv_cardholdername {
    width: 290px;
}

.paytpv_jet li .help {
    color: #aaa;
    clear: both;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    padding-bottom: 10px;
}

#paycomet-cvc2{
    width:79px;

}
#paycomet-pan{
    width:290px;
}
#paycomet-cvc2, #paycomet-pan{
    border-radius: 3px;
    height:36px; 
    padding:0px;
    width: 290px;
}

/* .paytpv_jet input{border:1px solid #e5e5e5;color:#333;font-size:18px;height:34px;padding:0 5px;width:100%;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px} */

.paytpv_jet input{height:32px; vertical-align: middle; display: inline-block;border:1px solid #e5e5e5;color:#333;font-size:18px;padding:0 5px;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}

.paytpv_footer {
    padding: 30px 10px;
    clear: both;
}

.footer_logo {
    display: inline-block;
    width: 130px;
}

.footer_logo .paytpv_wrapper{
    display: block;
    padding: 10px 0px;
    border-bottom: 1px dotted #404046;
}

.footer_logo ul {
    float: left;
    font-size: 14px;
    
    border-right: none;
    float: none;
    margin-bottom: 13px;
    padding-bottom: 11.2px;
}

.payment_icons {
    display: inline-block;
    float: right;
    width: auto;
}

.payment_icons li {
    display: inline-block;
    margin: 0 5px 10px;
}
.payment_icons li img {
    display: block;
    height: 22px;
}


#paymentErrorMsg {
    color: red;
    font-size: 80%;
}

